html {
  scroll-behavior: smooth;
  font-size: 6px;
}
#root {
  height: 100%;
}
/* Navbar CSS */
header.ui.secondary.pointing.menu {
  padding: 0 3rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 2rem;
  transition: background-color 0.5s ease;
  z-index: 1000;
  background-color: rgba(53, 56, 57, 0);
  height: 7rem;
  margin-bottom: 0;
  box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.3);
}

/* Navbar width, margin, padding */
.contain {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Width, alignment, border, height for navbar */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.5s ease;
}
.nav .right.menu {
  height: 100%;
}

/* Navbar links styling */
header.ui.menu .nav a.item {
  font-size: 1rem;
  text-decoration: none;
  font-size: 1.6rem;
  height: 100%;
  align-self: center;
  color: rgba(53, 56, 57, 1);
}

header.ui.secondary.pointing.menu .nav a.item:hover {
  background-color: rgba(53, 56, 57, 1);
  color: #fff;
}

header.ui.menu.scrolling-active .nav a.item {
  color: #fff;
}

.nav .logo {
  height: 75%;
}

header.ui.secondary.pointing.menu.scrolling-active {
  background-color: rgba(53, 56, 57, 0.9);
  height: 5rem;
}
