@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 5px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #ececee;
  background-color: #5f0f4e;
  overflow-x: hidden;
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg"); */
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100vh;
  width: 100%;
}

#root {
  height: 100%;
}
/* navLargeLargebar CSS */
header.ui.secondary.pointing.menu {
  padding: 0 3rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 2rem;
  transition: background-color 0.8s ease;
  z-index: 1000;
  background-color: #031424;
  height: 9.5rem;
  margin-bottom: 0;
  box-shadow: 0 0.2rem 3rem -5px rgba(0, 0, 0, 0.3);
}

/* navLargeLargebar width, margin, padding */
.contain {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Width, alignment, border, height for navLargeLargebar */
.navLarge {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.5s ease;
}
.navLarge .right.menu {
  height: 100%;
}

/* navLargebar links styling */
header.ui.menu.secondary .navLarge a.item {
  /* display: inline-block; */
  position: relative;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  height: 100%;
  align-self: center;
  color: #fff;
  transition: all 0.5s ease;
}
.right.menu:hover > a.item {
  transform: scale(0.85);
}

header.ui.menu.secondary .navLarge a.item::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  height: 2px;
  background: #fff;
  transition: width 0.5s;
  border: none;
  margin: none;
  transform: none;
  top: auto;
  bottom: 0;
  left: 0;
  visibility: visible !important;
}
header.ui.secondary.pointing.menu .navLarge a.item:hover::after {
  border-bottom: 2px solid #fff;
  width: 100%;
}
header.ui.secondary.pointing.menu .navLarge a.item:hover {
  background-color: #3effe387;
  color: #fff;
  transform: scale(1.1);
}

.logo {
  height: 100%;
  padding: 1rem;
  transition: all 0.5s ease;
}
.logo:hover {
  transform: scale(1.1);
}
li .logo {
  height: 12rem;
}
.logo img {
  height: 100%;
  /* width: 100px; */
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
  position: fixed;
  top: 5.3rem;
  right: 5.5rem;
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 200;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 3rem;
  height: 2rem;
  z-index: 200;
  top: 0;
  left: 0;
  border-top: 0.2rem solid #ececee;
  border-bottom: 0.2rem solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 2.2rem;
  height: 0.2rem;
  z-index: 200;
  top: 1rem;
  right: 0.4rem;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before {
  top: 1rem;
  transform: rotate(45deg);
  height: 0.2rem;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after {
  width: 3rem;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
  position: fixed;
  top: 2.3rem;
  right: 3rem;
  display: block;
  width: 8rem;
  height: 8rem;
  padding: 0;
  margin: 0;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0 0.8rem 3rem 0 rgba(0, 0, 0, 0.3);
  background-color: #6e085a;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 1rem 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(3rem);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1) {
  transition-delay: 300ms;
}
.nav ul li:nth-child(2) {
  transition-delay: 250ms;
}
.nav ul li:nth-child(3) {
  transition-delay: 200ms;
}
.nav ul li:nth-child(4) {
  transition-delay: 150ms;
}
.nav ul li:nth-child(5) {
  transition-delay: 100ms;
}
.nav ul li:nth-child(6) {
  transition-delay: 50ms;
}
.nav ul li a {
  font-family: "Londrina Outline", cursive;
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover {
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #ececee;
  opacity: 0.5;
  transition: width 250ms linear;
}
.nav ul li a:hover:after {
  width: 100%;
}

.menu-icon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(5) {
  transition-delay: 1720ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(6) {
  transition-delay: 1800ms;
}
