@media only screen and (min-width: 375px) {
  .flex__cards {
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 7px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1700px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 2300px) {
  html {
    font-size: 25px;
  }
}
