@import url("https://fonts.googleapis.com/css2?family=Trirong:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.vision #heading {
  margin-top: 6rem;
  padding: 1rem 6rem 2rem 6rem;
  background-color: #3effdaba;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  box-shadow: 5px 10px 5px rgb(0 0 0 / 50%);
}

.vision mark {
  background-color: #3effdaba;
  color: white;
  border-radius: 12px;
}

.vision #pageTitle {
  color: white;
  font-size: 8rem;
  font-family: "Bebas Neue", cursive;
}

.vision #quote {
  color: white;
  font-size: 2.5rem;
  font-style: italic;
}

.vision #vision-body {
  padding: 2rem 3rem;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.vision #part1 {
  display: flex;
  flex-flow: column;
}
.vision #part1 img {
  width: 100%;
  height: auto;
  margin: 0;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.vision section {
  margin: 6rem 0;
}

.vision img {
  width: 45%;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.5s;
  margin: 10 0px;
  box-shadow: 15px 20px 10px rgba(0, 0, 0, 0.5);
  filter: contrast(150%);
}

.vision img:hover {
  filter: contrast(100%);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.vision .text {
  padding-top: 10rem;
  color: white;
  font-size: 3rem;
}

.vision .goals {
  float: center;
  padding-top: 5vh;
  color: white;
  font-size: 4vh;
  line-height: 2;
}

.vision .goals i {
  font-size: 8vh;
  text-shadow: 5px 5px 3px black;
}

.vision #goal-header {
  color: white;
  font-size: 7vh;
  font-family: "Bebas Neue", cursive;
  line-height: 1;
  text-shadow: 5px 5px 3px #3effdaba;
}

.vision .row {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.vision .column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
